<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Serencast</title>
    <link rel="icon" href="/images/favicon.ico" />
    <script language="JavaScript" src="/javascripts/jquery.js"></script>
    <script language="JavaScript">
      //var data;
      //$(function(){
      //   data = <%= @json %>;
      //});
      var project = '<%= @project %>';
      var page = '<%= @page %>';

      //
      // index.htmlをメニューとして画面の左側1/5ぐらいで大きく開く
      // コンテンツウィンドウはその右に開く
      //
      height = screen.availHeight;
      width = screen.availWidth / 5;
      if(width > 300) width = 300;

      if(<%= @test %>){
         width = screen.availWidth;
      }
      
      param = `top=0,left=1,height=${height},width=${width}`;
      window.open(`http://${location.host}/menu.html?project=${project}&page=${page}&test=<%= @test %>`,"menu",param);
    </script>
  </head>
  <body>
  </body>
</html>

